.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.cardWrapper {
  cursor: pointer;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.filterButton {
  background-color: #e0e0e0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.activeFilter {
  background-color: #007bff;
  color: white;
}


.groupButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: flex-start;
}

.groupButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.groupButton:hover {
  background-color: #e6e6e6;
}

.groupButton.active {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}
