.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

.cardWrapper {
  cursor: pointer;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.filterButton {
  background-color: #e0e0e0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.activeFilter {
  background-color: #007bff;
  color: white;
}

.groupButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0 1rem;
  gap: 2em;
  margin-top: 1rem;
}

.groupButtonsLeft {
  display: flex;
  gap: 1rem;
}

.groupButtonsRight {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.groupButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.groupButton:hover {
  background-color: #e6e6e6;
}

.groupButton.active {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

/* Responsividade */
@media (max-width: 768px) {
  .groupButtonsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .groupButtonsLeft,
  .groupButtonsRight {
    justify-content: center;
    flex-wrap: wrap;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .groupButton {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }

  .gridContainer {
    gap: 1rem;
  }
}
