.footerContainer, .linksContainer{
    background: rgb(8, 31, 17);
    color: rgb(89,174,78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footerContainer{
    gap: 1em;
    padding-bottom: 1em;
}

.footerContainer img{
    width: 7em;

}

.brother{
    color: rgb(89,174,78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: rgb(89,174,78);
}